<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <link href="http://cdn.staticfile.org/twitter-bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="http://cdn.staticfile.org/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdn.staticfile.org/twitter-bootstrap/3.0.1/js/bootstrap.min.js"></script>
    <style type="text/css">
        .bg {
            background: url(/static/img/pic.png) no-repeat center fixed;
            background-size: contain
        }
        #company-logo{width: 187px; height: 78px;}
    </style>

</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            {% include 'navbar.html' %}
            <div class="jumbotron">

                <h1>
                    在线题库!
                </h1>
                <p>
                    选择你需要的题库进行测试。
                </p>
                <p>
                    <a class="btn btn-primary btn-large" href="#">Learn more</a>
                </p>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <img src="/static/img/pic.png">
    </div>
    <div id="show_area">

    </div>
</div>
<script type="text/javascript" src="/static/js/jquery.js"></script>

<script>
    (function ($) {
        $.fn.getContent = function (content) {
            var company_id = {{ company_id}};
            var company_pic = '{{ company_pic }}';
            var company_name = '{{ company_name }}';

            if (content.items == null) {
                $(this).html('<div class=""><h2>没有相关试题</h2></div>');
                return;
            }
            var superContainer = $(this)
            var size = 6;
            var Num = content.items.length;
            if (Num > size) {
                var pageNum = Math.ceil(Num / size);
            } else {
                pageNum = 1;
            }
            var showPage = 0;
            var index;
            var contentL = '<ul class="items"> <li class="item">	<div class="row clearfix"> ';
            var pagination = '<div class="col-md-3 column"></div><div class="col-md-6 column"><ul class="pagination pagination-lg"><li class="prev"><a >Prev</a></li>';
            for (index = 0; index < Num; index++) {
                if (index % size == 0 && index != 0) {
                    contentL += '</div> </li> <li class="item"> <div class="row clearfix">';
                }
                contentL += '<div class="col-md-4 column"> <h2>' + company_name + '</h2> <p>' + content.items[index].paper_name + '</p> <img id="company-logo" src="' + company_pic + '"  /> <p> <a class="btn" href="/papers/' + content.items[index].paper_id + '">开始做题 »</a> </p> </div>';
                if (index == Num - 1) {
                    contentL += '</div> </li></ul>';
                }
            }
            for (var i = 0; i < pageNum; i++) {
                pagination += '<li  id="' + i + '" class="num"><a >' + (i + 1) + '</a></li>'
                if (i == pageNum - 1) {
                    pagination += '<li class="next"><a>Next</a></li></ul></div><div class="col-md-3 column"></div>';
                }
            }
            superContainer.html(contentL + pagination);

            var page = superContainer.find('.item');
            var bar = superContainer.find('.pagination');
            bar.hide();
            page.hide();
            page.first().fadeIn(500);
            bar.fadeIn(500);
            superContainer.find('.prev').click(function () {
                if (showPage == 0) {
                    return;
                }
                page.eq(showPage).hide()
                showPage--;
                page.eq(showPage).fadeIn(500);
            });
            superContainer.find('.next').click(function () {
                if (showPage == pageNum - 1) {
                    return;
                }
                page.eq(showPage).hide();
                showPage++;
                page.eq(showPage).fadeIn(500);
            });

            superContainer.find('.num').on('click', function () {

                var _id = $(this).attr('id');
                var i = parseInt(_id);
                page.eq(showPage).hide();
                showPage = i;
                page.eq(showPage).fadeIn(500);
            });
        }

    })(jQuery);
</script>
<script>
    $(function () {
        $.ajax({
            url: '/api/papers/companies/{{company_id}}',
            type: 'get',
            dataType: 'json',
            success: function (data) {
                $('#show_area').getContent(data);
            }
        })

    });
</script>
</body>
</html>